# 12/3/2025
## Analysis 
 date corrected from excel and con using engine

In [37]:
import pandas as pd
from sqlalchemy import create_engine
from dotenv import load_dotenv
import os

In [38]:
# if load_dotenv() returns true it has found the .env file
load_dotenv()
con = os.getenv("LOCALDB_URL")

In [39]:
engine =create_engine(con)

In [40]:
sql_query = """
    select * from sales.purchase_data pd; 
"""

In [41]:
purchase_data = pd.read_sql(sql_query ,con= engine)

In [42]:
purchase_data.head()

   LYLTY_CARD_NBR               LIFESTAGE PREMIUM_CUSTOMER
0            1000   YOUNG SINGLES/COUPLES          Premium
1            1002   YOUNG SINGLES/COUPLES       Mainstream
2            1003          YOUNG FAMILIES           Budget
3            1004   OLDER SINGLES/COUPLES       Mainstream
4            1005  MIDAGE SINGLES/COUPLES       Mainstream

In [43]:
sql_query = """
    select * from sales.transaction_data pd; 
"""
transaction_data = pd.read_sql(sql_query ,con= engine)
transaction_data.head()

KeyboardInterrupt:

In [ ]:
#checking for null values
transaction_data.isna().sum()

DATE              0
STORE_NBR         0
LYLTY_CARD_NBR    0
TXN_ID            0
PROD_NBR          0
PROD_NAME         0
PROD_QTY          0
TOT_SALES         0
dtype: int64

In [ ]:
# checking number of (rows, columns)
transaction_data.shape

(264836, 8)

In [ ]:
#checking datatypes and not-null counts
transaction_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264836 entries, 0 to 264835
Data columns (total 8 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   DATE            264836 non-null  datetime64[ns]
 1   STORE_NBR       264836 non-null  int64
 2   LYLTY_CARD_NBR  264836 non-null  int64
 3   TXN_ID          264836 non-null  int64
 4   PROD_NBR        264836 non-null  int64
 5   PROD_NAME       264836 non-null  object
 6   PROD_QTY        264836 non-null  int64
 7   TOT_SALES       264836 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(5), object(1)
memory usage: 16.2+ MB

In [ ]:
sql_query = """
-- joining the two tables to be one table using a left join
select * 
from sales.purchase_data pd 
left join sales.transaction_data td 
on pd."LYLTY_CARD_NBR" =td."LYLTY_CARD_NBR"; 
"""
combined_data = pd.read_sql(sql_query ,con= engine)
combined_data.head()

,LYLTY_CARD_NBR,LIFESTAGE,PREMIUM_CUSTOMER,DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES
0,1307,MIDAGE SINGLES/COUPLES,Budget,2019-05-14,1,1307,348,66,CCs Nacho Cheese 175g,3,6.3
1,1307,MIDAGE SINGLES/COUPLES,Budget,2019-05-14,1,1307,348,66,CCs Nacho Cheese 175g,3,6.3
2,1343,MIDAGE SINGLES/COUPLES,Budget,2019-05-20,1,1343,383,61,Smiths Crinkle Cut Chips Chicken 170g,2,2.9
3,1343,MIDAGE SINGLES/COUPLES,Budget,2019-05-20,1,1343,383,61,Smiths Crinkle Cut Chips Chicken 170g,2,2.9
4,4149,MIDAGE SINGLES/COUPLES,Budget,2019-05-16,4,4149,3333,16,Smiths Crinkle Chips Salt & Vinegar 330g,1,5.7

In [ ]:
# Drop duplicates
combined_data.drop_duplicates(subset=['LYLTY_CARD_NBR'])

,LYLTY_CARD_NBR,LIFESTAGE,PREMIUM_CUSTOMER,DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES
0,1307,MIDAGE SINGLES/COUPLES,Budget,2019-05-14,1,1307,348,66,CCs Nacho Cheese 175g,3,6.3
2,1343,MIDAGE SINGLES/COUPLES,Budget,2019-05-20,1,1343,383,61,Smiths Crinkle Cut Chips Chicken 170g,2,2.9
4,4149,MIDAGE SINGLES/COUPLES,Budget,2019-05-16,4,4149,3333,16,Smiths Crinkle Chips Salt & Vinegar 330g,1,5.7
6,4196,MIDAGE SINGLES/COUPLES,Budget,2019-05-16,4,4196,3539,24,Grain Waves Sweet Chilli 210g,1,3.6
8,5026,MIDAGE SINGLES/COUPLES,Budget,2018-08-20,5,5026,4525,42,Doritos Corn Chip Mexican Jalapeno 150g,1,3.9
...,...,...,...,...,...,...,...,...,...,...,...
529660,272148,YOUNG SINGLES/COUPLES,Premium,2018-07-31,272,272148,269843,34,Pringles Slt Vingar 134g,2,7.4
529662,272156,YOUNG SINGLES/COUPLES,Premium,2019-03-17,272,272156,269855,63,Kettle 135g Swt Pot Sea Salt,2,8.4
529664,272193,YOUNG SINGLES/COUPLES,Premium,2019-03-13,272,272193,269906,9,Kettle Tortilla ChpsBtroot&Ricotta 150g,1,4.6
529666,272379,YOUNG SINGLES/COUPLES,Premium,2018-11-06,272,272379,270187,51,Doritos Mexicana 170g,2,8.8
529670,272380,YOUNG SINGLES/COUPLES,Premium,2018-09-22,272,272380,270189,74,Tostitos Splash Of Lime 175g,2,8.8

In [ ]:
# Drop duplicates
combined_data.drop_duplicates()

,LYLTY_CARD_NBR,LIFESTAGE,PREMIUM_CUSTOMER,DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES
0,1307,MIDAGE SINGLES/COUPLES,Budget,2019-05-14,1,1307,348,66,CCs Nacho Cheese 175g,3,6.3
2,1343,MIDAGE SINGLES/COUPLES,Budget,2019-05-20,1,1343,383,61,Smiths Crinkle Cut Chips Chicken 170g,2,2.9
4,4149,MIDAGE SINGLES/COUPLES,Budget,2019-05-16,4,4149,3333,16,Smiths Crinkle Chips Salt & Vinegar 330g,1,5.7
6,4196,MIDAGE SINGLES/COUPLES,Budget,2019-05-16,4,4196,3539,24,Grain Waves Sweet Chilli 210g,1,3.6
8,5026,MIDAGE SINGLES/COUPLES,Budget,2018-08-20,5,5026,4525,42,Doritos Corn Chip Mexican Jalapeno 150g,1,3.9
...,...,...,...,...,...,...,...,...,...,...,...
529662,272156,YOUNG SINGLES/COUPLES,Premium,2019-03-17,272,272156,269855,63,Kettle 135g Swt Pot Sea Salt,2,8.4
529664,272193,YOUNG SINGLES/COUPLES,Premium,2019-03-13,272,272193,269906,9,Kettle Tortilla ChpsBtroot&Ricotta 150g,1,4.6
529666,272379,YOUNG SINGLES/COUPLES,Premium,2018-11-06,272,272379,270187,51,Doritos Mexicana 170g,2,8.8
529668,272379,YOUNG SINGLES/COUPLES,Premium,2018-12-27,272,272379,270188,42,Doritos Corn Chip Mexican Jalapeno 150g,2,7.8
529670,272380,YOUNG SINGLES/COUPLES,Premium,2018-09-22,272,272380,270189,74,Tostitos Splash Of Lime 175g,2,8.8

In [ ]:
# MERGING TABLES 
# unlike joining, merging will not have duplicate unique columns
merged_data = transaction_data.merge(purchase_data, on='LYLTY_CARD_NBR', how='left')

In [ ]:
merged_data.head()

,DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES,LIFESTAGE,PREMIUM_CUSTOMER
0,2018-10-17,1,1000,1,5,Natural Chip Compny SeaSalt175g,2,6.0,YOUNG SINGLES/COUPLES,Premium
1,2018-10-17,1,1000,1,5,Natural Chip Compny SeaSalt175g,2,6.0,YOUNG SINGLES/COUPLES,Premium
2,2019-05-14,1,1307,348,66,CCs Nacho Cheese 175g,3,6.3,MIDAGE SINGLES/COUPLES,Budget
3,2019-05-14,1,1307,348,66,CCs Nacho Cheese 175g,3,6.3,MIDAGE SINGLES/COUPLES,Budget
4,2019-05-20,1,1343,383,61,Smiths Crinkle Cut Chips Chicken 170g,2,2.9,MIDAGE SINGLES/COUPLES,Budget

### Objectives
1. Top ten most purchased brands
2. Total sales by customer life stage
3. Average spend by customer category

#### TOP TEN BRANDS

In [ ]:
top_brands = merged_data.groupby('PROD_NAME')['PROD_QTY'].sum().sort_values(ascending=False).head(10)
top_brands

PROD_NAME
Dorito Corn Chp     Supreme 380g            13018
Kettle Mozzarella   Basil & Pesto 175g      12762
Kettle Tortilla ChpsHny&Jlpno Chili 150g    12618
Cobs Popd Sea Salt  Chips 110g              12554
Cobs Popd Swt/Chlli &Sr/Cream Chips 110g    12512
Tostitos Splash Of  Lime 175g               12468
Tyrrells Crisps     Ched & Chives 165g      12454
Kettle 135g Swt Pot Sea Salt                12424
Infuzions Thai SweetChili PotatoMix 110g    12412
Thins Potato Chips  Hot & Spicy 175g        12370
Name: PROD_QTY, dtype: int64

### SALES BY LIFESTAGE

In [ ]:
sales_by_life_stage = merged_data.groupby('LIFESTAGE')['TOT_SALES'].sum().sort_values(ascending=False)
sales_by_life_stage

LIFESTAGE
OLDER SINGLES/COUPLES     804853.5
RETIREES                  732941.8
OLDER FAMILIES            707534.4
YOUNG FAMILIES            632320.2
YOUNG SINGLES/COUPLES     520810.6
MIDAGE SINGLES/COUPLES    369502.6
NEW FAMILIES              100866.9
Name: TOT_SALES, dtype: float64

### AVERAGE SPEND BY CATEGORY

In [ ]:
avg_spend_by_cust_category = merged_data.groupby('PREMIUM_CUSTOMER')['TOT_SALES'].mean()
avg_spend_by_cust_category

PREMIUM_CUSTOMER
Budget        7.258838
Mainstream    7.361106
Premium       7.281556
Name: TOT_SALES, dtype: float64

### MONTHLY SALES TREND

In [ ]:
# GETTING A NEW COLUMN FROM EXISTING DATA 
merged_data['YEAR']= merged_data['DATE'].dt.year
merged_data['MONTH'] = merged_data['DATE'].dt.month
merged_data['MONTH_NAME'] = merged_data['DATE'].dt.month_name()
merged_data.head()

,DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES,LIFESTAGE,PREMIUM_CUSTOMER,YEAR,MONTH,MONTH_NAME
0,2018-10-17,1,1000,1,5,Natural Chip Compny SeaSalt175g,2,6.0,YOUNG SINGLES/COUPLES,Premium,2018,10,October
1,2018-10-17,1,1000,1,5,Natural Chip Compny SeaSalt175g,2,6.0,YOUNG SINGLES/COUPLES,Premium,2018,10,October
2,2019-05-14,1,1307,348,66,CCs Nacho Cheese 175g,3,6.3,MIDAGE SINGLES/COUPLES,Budget,2019,5,May
3,2019-05-14,1,1307,348,66,CCs Nacho Cheese 175g,3,6.3,MIDAGE SINGLES/COUPLES,Budget,2019,5,May
4,2019-05-20,1,1343,383,61,Smiths Crinkle Cut Chips Chicken 170g,2,2.9,MIDAGE SINGLES/COUPLES,Budget,2019,5,May

In [ ]:
monthly_sales = merged_data.groupby(['YEAR', 'MONTH'])['TOT_SALES'].sum().reset_index().sort_values(['YEAR', 'MONTH'])
monthly_sales

    YEAR  MONTH  TOT_SALES
0   2018      7   330550.6
1   2018      8   317462.1
2   2018      9   321044.0
3   2018     10   328831.4
4   2018     11   320467.4
5   2018     12   335826.8
6   2019      1   325284.6
7   2019      2   301330.0
8   2019      3   332530.4
9   2019      4   319690.2
10  2019      5   314735.3
11  2019      6   321077.2

### STORE PERFORMANCE
TOTAL SALES BY STORE

In [ ]:
store_sales = merged_data.groupby('STORE_NBR')['TOT_SALES'].sum().sort_values(ascending=False).head(10)
store_sales

STORE_NBR
226    37810.9
88     32666.5
165    31947.5
40     31119.0
237    31079.0
58     30502.9
199    29594.0
4      29295.3
203    29103.2
26     28938.6
Name: TOT_SALES, dtype: float64

### PRODUCT PERFORMANCE

In [ ]:
product_sales = merged_data.groupby('PROD_NAME')['TOT_SALES'].sum().sort_values(ascending=False).head(10)
product_sales

PROD_NAME
Dorito Corn Chp     Supreme 380g            80704.0
Smiths Crnkle Chip  Orgnl Big Bag 380g      72735.2
Smiths Crinkle Chips Salt & Vinegar 330g    69608.4
Kettle Mozzarella   Basil & Pesto 175g      68914.8
Smiths Crinkle      Original 330g           68605.2
Cheezels Cheese 330g                        68593.8
Doritos Cheese      Supreme 330g            66781.2
Kettle Sweet Chilli And Sour Cream 175g     66063.6
Kettle Original 175g                        65480.4
Kettle Sea Salt     And Vinegar 175g        65178.0
Name: TOT_SALES, dtype: float64

### CUSTOMER BEHAVIOR
Which lifestage buys the largest quantity

In [48]:
quantity_by_lifastage = merged_data.groupby('LIFESTAGE')['PROD_QTY'].sum().sort_values(ascending=False)
quantity_by_lifastage

LIFESTAGE
OLDER SINGLES/COUPLES     208406
OLDER FAMILIES            189984
RETIREES                  188332
YOUNG FAMILIES            169122
YOUNG SINGLES/COUPLES     133268
MIDAGE SINGLES/COUPLES     95442
NEW FAMILIES               25694
Name: PROD_QTY, dtype: int64

### Which premium customer spends the most overall?

In [49]:
premium_customer = merged_data.groupby('PREMIUM_CUSTOMER')['TOT_SALES'].sum().sort_values(ascending=False)
premium_customer

PREMIUM_CUSTOMER
Mainstream    1501489.0
Budget        1352423.1
Premium       1014917.9
Name: TOT_SALES, dtype: float64

### Which customer lifestage accounts for the highest total sales among your "Premium" customer base.

In [50]:
top_premium_spender = merged_data.query("PREMIUM_CUSTOMER =='Premium'").groupby('LIFESTAGE')['TOT_SALES'].sum().sort_values(ascending=False)
top_premium_spender

LIFESTAGE
OLDER SINGLES/COUPLES     264526.3
RETIREES                  195292.1
YOUNG FAMILIES            168051.0
OLDER FAMILIES            163916.8
MIDAGE SINGLES/COUPLES    116865.3
YOUNG SINGLES/COUPLES      83284.2
NEW FAMILIES               22982.2
Name: TOT_SALES, dtype: float64