In [2]:
import pandas as pd
from sqlalchemy import create_engine
from dotenv import load_dotenv
import os

In [3]:
# if load_dotenv() returns true it has found the .env file
load_dotenv()
localdb_url = os.getenv("LOCALDB_URL")

In [4]:
sql_query = """
    -- joining the two tables to be one table using a left join
    select * 
    from chipsales.purchase_data pd 
    left join chipsales.transaction_data td 
    on pd."LYLTY_CARD_NBR" =td."LYLTY_CARD_NBR" ;
"""

In [5]:
data_df = pd.read_sql(sql_query ,con= localdb_url)

In [6]:
data_df.head()

,LYLTY_CARD_NBR,LIFESTAGE,PREMIUM_CUSTOMER,DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES
0,1307,MIDAGE SINGLES/COUPLES,Budget,43599,1,1307,348,66,CCs Nacho Cheese 175g,3,6.3
1,1307,MIDAGE SINGLES/COUPLES,Budget,43599,1,1307,348,66,CCs Nacho Cheese 175g,3,6.3
2,1343,MIDAGE SINGLES/COUPLES,Budget,43605,1,1343,383,61,Smiths Crinkle Cut Chips Chicken 170g,2,2.9
3,1343,MIDAGE SINGLES/COUPLES,Budget,43605,1,1343,383,61,Smiths Crinkle Cut Chips Chicken 170g,2,2.9
4,4149,MIDAGE SINGLES/COUPLES,Budget,43601,4,4149,3333,16,Smiths Crinkle Chips Salt & Vinegar 330g,1,5.7

In [7]:
data_df['DATE']= pd.to_datetime(data_df['DATE'], errors='coerce')

In [8]:
data_df.head()

,LYLTY_CARD_NBR,LIFESTAGE,PREMIUM_CUSTOMER,DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES
0,1307,MIDAGE SINGLES/COUPLES,Budget,1970-01-01 00:00:00.000043599,1,1307,348,66,CCs Nacho Cheese 175g,3,6.3
1,1307,MIDAGE SINGLES/COUPLES,Budget,1970-01-01 00:00:00.000043599,1,1307,348,66,CCs Nacho Cheese 175g,3,6.3
2,1343,MIDAGE SINGLES/COUPLES,Budget,1970-01-01 00:00:00.000043605,1,1343,383,61,Smiths Crinkle Cut Chips Chicken 170g,2,2.9
3,1343,MIDAGE SINGLES/COUPLES,Budget,1970-01-01 00:00:00.000043605,1,1343,383,61,Smiths Crinkle Cut Chips Chicken 170g,2,2.9
4,4149,MIDAGE SINGLES/COUPLES,Budget,1970-01-01 00:00:00.000043601,4,4149,3333,16,Smiths Crinkle Chips Salt & Vinegar 330g,1,5.7

In [9]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1589016 entries, 0 to 1589015
Data columns (total 11 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   LYLTY_CARD_NBR    1589016 non-null  int64
 1   LIFESTAGE         1589016 non-null  object
 2   PREMIUM_CUSTOMER  1589016 non-null  object
 3   DATE              1589016 non-null  datetime64[ns]
 4   STORE_NBR         1589016 non-null  int64
 5   LYLTY_CARD_NBR    1589016 non-null  int64
 6   TXN_ID            1589016 non-null  int64
 7   PROD_NBR          1589016 non-null  int64
 8   PROD_NAME         1589016 non-null  object
 9   PROD_QTY          1589016 non-null  int64
 10  TOT_SALES         1589016 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(6), object(3)
memory usage: 133.4+ MB

In [10]:
data_df.shape

(1589016, 11)

In [11]:
data_df.columns

Index(['LYLTY_CARD_NBR', 'LIFESTAGE', 'PREMIUM_CUSTOMER', 'DATE', 'STORE_NBR',
       'LYLTY_CARD_NBR', 'TXN_ID', 'PROD_NBR', 'PROD_NAME', 'PROD_QTY',
       'TOT_SALES'],
      dtype='object')