# 12/2/2025
## connecting to db on machine

In [2]:
import pandas as pd
from sqlalchemy import create_engine

In [3]:
purchase_df= pd.read_csv("purchase_b.csv")
transaction_df= pd.read_excel("transaction.xlsx")

In [4]:
purchase_df.tail()

       LYLTY_CARD_NBR               LIFESTAGE PREMIUM_CUSTOMER
72632         2370651  MIDAGE SINGLES/COUPLES       Mainstream
72633         2370701          YOUNG FAMILIES       Mainstream
72634         2370751          YOUNG FAMILIES          Premium
72635         2370961          OLDER FAMILIES           Budget
72636         2373711   YOUNG SINGLES/COUPLES       Mainstream

In [5]:
transaction_df.head()

,DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES
0,2018-10-17,1,1000,1,5,Natural Chip Compny SeaSalt175g,2,6.0
1,2019-05-14,1,1307,348,66,CCs Nacho Cheese 175g,3,6.3
2,2019-05-20,1,1343,383,61,Smiths Crinkle Cut Chips Chicken 170g,2,2.9
3,2018-08-17,2,2373,974,69,Smiths Chip Thinly S/Cream&Onion 175g,5,15.0
4,2018-08-18,2,2426,1038,108,Kettle Tortilla ChpsHny&Jlpno Chili 150g,3,13.8

In [6]:
from sqlalchemy import create_engine

#connecting to db hosted on machine
# Replace with your actual credentials and database name
db_user = 'postgres'
db_password = 'root'
db_host = 'localhost'
db_port = '5432' # Default PostgreSQL port
db_name = 'supermarket'

engine = create_engine(f'postgresql+psycopg2://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}')

In [8]:
#pushing files to the db on machine
transaction_df.to_sql("transaction_data", engine, if_exists='replace', index=False, schema='sales')

836

In [ ]:
#pushing files to the db on machine
purchase_df.to_sql("purchase_data", engine, if_exists='append', index=False, schema='sales')

637

In [1]:
# connecting to localdb using .env file
from dotenv import load_dotenv
import os
load_dotenv()
localdb_url = os.getenv("LOCALDB_URL")

In [ ]:
engine = create_engine(localdb_url)

In [ ]:
#pushing files to the localdb
transaction_df.to_sql("transaction_data", engine, if_exists='append', index=False, schema='chipsales')

836

In [ ]:
#pushing files to the localdb
purchase_df.to_sql("purchase_data", engine, if_exists='append', index=False, schema='chipsales')

637